@import '@/core/styles/variables.less';

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  height: 1px;
  background: linear-gradient(180deg, @workbench-content-bg 0%, #e7edfd 100%);
}

.messageList {
  flex-grow: 1;
}

.messageBox {
  margin: 16px;

  textarea {
    max-height: 200px;
  }
}
