@import '@/common/styles/variables.less';

.container {
  display: flex;
  height: fit-content;
  background: white;
  border: @border;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.03);
  transition: border 0.2s ease-in-out;

  &:hover {
    border: 1px solid lighten(@primary-color, 25%);
  }

  &:focus-within {
    border: 1px solid @primary-color;
  }
}

.textarea {
  height: fit-content;
  min-height: 54px !important;
}
