.container {
  width: 100%;

  :global(.w-split-vertical > .w-split-line-bar div::after, .w-split-horizontal > .w-split-line-bar div::after) {
    background-color: red !important;
  }
}

.chatListContainer {
  width: 320px;
}

.chatDetailContainer {
  flex-grow: 1;
}

.chatSettingsContainer {
  width: 420px;
}
